# Core functionality - changes here should be rare!
/src/app.py                   @MikkieTee02
/src/backend/database.py      @MikkieTee02
/src/backend/routers/auth.py  @MikkieTee02

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MikkieTee02
